#### difference between sort by and order by
* `Order By ` and `Sort By` both are not same in sql. Order by will do sorting an entire data. sort by will do partition wise sorting
* `orderBy` and `sort` both are same in pyspark. `sortWintinPartitions` as same as `sort By` in sql.

In [0]:

from pyspark.sql.functions import spark_partition_id
df = spark.read.format("delta").load("/user/hive/warehouse/emp").repartition(4,"DEPTNO").withColumn("PARTITION_ID",spark_partition_id())
df.createOrReplaceTempView("df")
display(df)

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,PARTITION_ID
7844,TURNER,SALESMAN,7698,1981-09-08,1500.00,0.00,30,0
7654,MARTIN,SALESMAN,7698,1981-09-28,1250.00,1400.00,30,0
7499,ALLEN,SALESMAN,7698,1981-02-20,1600.00,300.00,30,0
7521,WARD,SALESMAN,7698,1981-02-22,1250.00,500.00,30,0
7698,BLAKE,MANAGER,7839,1981-05-01,2850.00,null,30,0
7900,JAMES,CLERK,7698,1981-12-03,950.00,null,30,0
7782,CLARK,MANAGER,7839,1981-06-09,2450.00,null,10,1
7934,MILLER,CLERK,7782,1982-01-23,1300.00,null,10,1
7839,KING,PRESIDENT,null,1981-11-17,5000.00,null,10,1
1234,RAVI,IT,7782,1985-06-10,1300.00,null,50,2
7566,JONES,MANAGER,7839,1981-04-02,2975.00,null,20,3
7788,SCOTT,ANALYST,7566,1982-12-09,3000.00,null,20,3
7902,FORD,ANALYST,7566,1981-12-03,3000.00,null,20,3
7876,ADAMS,CLERK,7788,1983-01-12,1100.00,null,20,3
7369,SMITH,CLERK,7902,1980-12-17,800.00,null,20,3

In [0]:
%sql
select * from df order by sal

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,PARTITION_ID
7369,SMITH,CLERK,7902,1980-12-17,800.00,null,20,3
7900,JAMES,CLERK,7698,1981-12-03,950.00,null,30,0
7876,ADAMS,CLERK,7788,1983-01-12,1100.00,null,20,3
7654,MARTIN,SALESMAN,7698,1981-09-28,1250.00,1400.00,30,0
7521,WARD,SALESMAN,7698,1981-02-22,1250.00,500.00,30,0
1234,RAVI,IT,7782,1985-06-10,1300.00,null,50,2
7934,MILLER,CLERK,7782,1982-01-23,1300.00,null,10,1
7844,TURNER,SALESMAN,7698,1981-09-08,1500.00,0.00,30,0
7499,ALLEN,SALESMAN,7698,1981-02-20,1600.00,300.00,30,0
7782,CLARK,MANAGER,7839,1981-06-09,2450.00,null,10,1
7698,BLAKE,MANAGER,7839,1981-05-01,2850.00,null,30,0
7566,JONES,MANAGER,7839,1981-04-02,2975.00,null,20,3
7788,SCOTT,ANALYST,7566,1982-12-09,3000.00,null,20,3
7902,FORD,ANALYST,7566,1981-12-03,3000.00,null,20,3
7839,KING,PRESIDENT,null,1981-11-17,5000.00,null,10,1

In [0]:
%sql
select * from df sort by sal

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,PARTITION_ID
7900,JAMES,CLERK,7698,1981-12-03,950.00,null,30,0
7654,MARTIN,SALESMAN,7698,1981-09-28,1250.00,1400.00,30,0
7521,WARD,SALESMAN,7698,1981-02-22,1250.00,500.00,30,0
7844,TURNER,SALESMAN,7698,1981-09-08,1500.00,0.00,30,0
7499,ALLEN,SALESMAN,7698,1981-02-20,1600.00,300.00,30,0
7698,BLAKE,MANAGER,7839,1981-05-01,2850.00,null,30,0
7934,MILLER,CLERK,7782,1982-01-23,1300.00,null,10,1
7782,CLARK,MANAGER,7839,1981-06-09,2450.00,null,10,1
7839,KING,PRESIDENT,null,1981-11-17,5000.00,null,10,1
1234,RAVI,IT,7782,1985-06-10,1300.00,null,50,2
7369,SMITH,CLERK,7902,1980-12-17,800.00,null,20,3
7876,ADAMS,CLERK,7788,1983-01-12,1100.00,null,20,3
7566,JONES,MANAGER,7839,1981-04-02,2975.00,null,20,3
7788,SCOTT,ANALYST,7566,1982-12-09,3000.00,null,20,3
7902,FORD,ANALYST,7566,1981-12-03,3000.00,null,20,3

In [0]:
df.orderBy("SAL").show()

+-----+------+---------+----+----------+-------+-------+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE|    SAL|   COMM|DEPTNO|PARTITION_ID|
+-----+------+---------+----+----------+-------+-------+------+------------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800.00|   null|    20|           3|
| 7900| JAMES|    CLERK|7698|1981-12-03| 950.00|   null|    30|           0|
| 7876| ADAMS|    CLERK|7788|1983-01-12|1100.00|   null|    20|           3|
| 7654|MARTIN| SALESMAN|7698|1981-09-28|1250.00|1400.00|    30|           0|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250.00| 500.00|    30|           0|
| 7934|MILLER|    CLERK|7782|1982-01-23|1300.00|   null|    10|           1|
| 1234|  RAVI|       IT|7782|1985-06-10|1300.00|   null|    50|           2|
| 7844|TURNER| SALESMAN|7698|1981-09-08|1500.00|   0.00|    30|           0|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600.00| 300.00|    30|           0|
| 7782| CLARK|  MANAGER|7839|1981-06-09|2450.00|   null|    10|           1|
| 7698| BLAKE|  MANAGER|7839|1981-05-01|2850.00|   null|    30|           0|
| 7566| JONES|  MANAGER|7839|1981-04-02|2975.00|   null|    20|           3|
| 7788| SCOTT|  ANALYST|7566|1982-12-09|3000.00|   null|    20|           3|
| 7902|  FORD|  ANALYST|7566|1981-12-03|3000.00|   null|    20|           3|
| 7839|  KING|PRESIDENT|null|1981-11-17|5000.00|   null|    10|           1|
+-----+------+---------+----+----------+-------+-------+------+------------+

In [0]:
help(df.orderBy)

Help on method sort in module pyspark.sql.dataframe:

sort(*cols: Union[str, pyspark.sql.column.Column, List[Union[str, pyspark.sql.column.Column]]], **kwargs: Any) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` sorted by the specified column(s).

    .. versionadded:: 1.3.0

    Parameters
    ----------
    cols : str, list, or :class:`Column`, optional
         list of :class:`Column` or column names to sort by.

    Other Parameters
    ----------------
    ascending : bool or list, optional
        boolean or list of boolean (default ``True``).
        Sort ascending vs. descending. Specify list for multiple sort orders.
        If a list is specified, length of the list must equal length of the `cols`.

    Examples
    --------
    >>> df.sort(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.sort("age", ascending=False).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> from pyspark.sql.functions import *
    >>> df.sort(asc("age")).collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
    >>> df.orderBy(desc("age"), "name").collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(["age", "name"], ascending=[0, 1]).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]

In [0]:
df.sort("SAL").show()

+-----+------+---------+----+----------+-------+-------+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE|    SAL|   COMM|DEPTNO|PARTITION_ID|
+-----+------+---------+----+----------+-------+-------+------+------------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800.00|   null|    20|           3|
| 7900| JAMES|    CLERK|7698|1981-12-03| 950.00|   null|    30|           0|
| 7876| ADAMS|    CLERK|7788|1983-01-12|1100.00|   null|    20|           3|
| 7654|MARTIN| SALESMAN|7698|1981-09-28|1250.00|1400.00|    30|           0|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250.00| 500.00|    30|           0|
| 1234|  RAVI|       IT|7782|1985-06-10|1300.00|   null|    50|           2|
| 7934|MILLER|    CLERK|7782|1982-01-23|1300.00|   null|    10|           1|
| 7844|TURNER| SALESMAN|7698|1981-09-08|1500.00|   0.00|    30|           0|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600.00| 300.00|    30|           0|
| 7782| CLARK|  MANAGER|7839|1981-06-09|2450.00|   null|    10|           1|
| 7698| BLAKE|  MANAGER|7839|1981-05-01|2850.00|   null|    30|           0|
| 7566| JONES|  MANAGER|7839|1981-04-02|2975.00|   null|    20|           3|
| 7788| SCOTT|  ANALYST|7566|1982-12-09|3000.00|   null|    20|           3|
| 7902|  FORD|  ANALYST|7566|1981-12-03|3000.00|   null|    20|           3|
| 7839|  KING|PRESIDENT|null|1981-11-17|5000.00|   null|    10|           1|
+-----+------+---------+----+----------+-------+-------+------+------------+

In [0]:
df.sortWithinPartitions("SAL").show()

+-----+------+---------+----+----------+-------+-------+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE|    SAL|   COMM|DEPTNO|PARTITION_ID|
+-----+------+---------+----+----------+-------+-------+------+------------+
| 7900| JAMES|    CLERK|7698|1981-12-03| 950.00|   null|    30|           0|
| 7654|MARTIN| SALESMAN|7698|1981-09-28|1250.00|1400.00|    30|           0|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250.00| 500.00|    30|           0|
| 7844|TURNER| SALESMAN|7698|1981-09-08|1500.00|   0.00|    30|           0|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600.00| 300.00|    30|           0|
| 7698| BLAKE|  MANAGER|7839|1981-05-01|2850.00|   null|    30|           0|
| 7934|MILLER|    CLERK|7782|1982-01-23|1300.00|   null|    10|           1|
| 7782| CLARK|  MANAGER|7839|1981-06-09|2450.00|   null|    10|           1|
| 7839|  KING|PRESIDENT|null|1981-11-17|5000.00|   null|    10|           1|
| 1234|  RAVI|       IT|7782|1985-06-10|1300.00|   null|    50|           2|
| 7369| SMITH|    CLERK|7902|1980-12-17| 800.00|   null|    20|           3|
| 7876| ADAMS|    CLERK|7788|1983-01-12|1100.00|   null|    20|           3|
| 7566| JONES|  MANAGER|7839|1981-04-02|2975.00|   null|    20|           3|
| 7788| SCOTT|  ANALYST|7566|1982-12-09|3000.00|   null|    20|           3|
| 7902|  FORD|  ANALYST|7566|1981-12-03|3000.00|   null|    20|           3|
+-----+------+---------+----+----------+-------+-------+------+------------+

In [0]:
df.sortWithinPartitions("SAL").show()

In [0]:
%sql
select * from df order by sal

In [0]:
%sql
select * from df sort by sal